.five-stars-div {
  display: flex;
}

/* .main-reviewpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: ;
  align-items: center;
} */
.shop-image {
  padding-bottom: calc(100% - 2px);
  background-size: cover;
  background-position: center;
  border-radius: 2em;
  /* box-sizing: border-box; */
}
