.lists-div {
  display: flex;
  align-items: space-around;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}
.list-card {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 12px;
}
.list-card > h1 {
  margin: 0;
}
