.shop-image {
  /* position: absolute; */
  height: 200px;
  /* height: 100%; */
  padding-bottom: calc(100% - 2px);
  background-size: cover;
  background-position: center;
  border-radius: 2em;
  box-sizing: border-box;
  background-color: grey;
}
