.preview-img-container {
  max-height: 500px;
  max-width: 500px;
  position: relative;
}

.preview-img {
  position: absolute;
  height: 100%;
  width: 100%;
  /* height: 100%; */
  padding-bottom: calc(100% - 2px);
  background-size: cover;
  background-position: center;
  border-radius: 2em;
  box-sizing: border-box;
  background-color: grey;
}
