/* TODO: Add sitewide styles */
body {
  font-family: "Lato", sans-serif;
  background-color: #f8f8f8;
  color: #150D0A;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.list-name-link {
  color:#150D0A;
}
.list-name-link:hover {
  color:#4fc0e8;
}
.not-signed-in-page {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.whole-lower-body {
  display: flex;
  flex-direction: column;
  align-items: left;

}
.main-container {
  /* max-width: 1200px; */
  width: 100%;
  padding:  40px 80px 40px 80px;
  box-sizing: border-box;
}

button {
  all: unset;
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color: #f9c39c;
  padding: 16px;
  border-radius: 22px;
  border: none;
  color: #f14b03;
  box-shadow: none;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 0px;
}
button:hover {
  color: #f9c39c;
  background-color: #f14b03;
}
.small-button {
  font-size: 12px;
  padding: 12px;
  margin-left: 0px;
  margin-right: 12px;
}

.button-div {
  display: flex;
  column-gap: 10px;
}
.remove-from-list-button {
  margin-top: 14px;
}

.location-button {
 margin-left: 10px;
 padding-right: 10px;

}
.blue-button {
  color: #4fc0e8;
  background-color: #f0efec;
}
.blue-button:hover {
  background-color: #4fc0e8;
  color: #f0efec;
}

.clear-location {
  color: #4fc0e8;
  background-color: #f0efec;
  margin-bottom: 3px;
}

.clear-location:hover {
  background-color: #4fc0e8;
  color: #f0efec;
}
input[type="text"],
input[type="password"] {
  max-width: 500px;
  width: 100%;
  font-size: 16px;
  border-radius: 22px;
  padding: 8px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  padding: 0;
}
.place-link {
  color: #4fc0e8;
  text-decoration: none;
  margin-right: 15px;
}

.list-name {
  color: #4fc0e8;
}
.lists > li {
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #898989;
}

.errors {
  color: #f14b03;
  font-size: 12px;
}
/* CSS FOR THE SPOT GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  grid-auto-rows: min-content;
  margin-top: 80px;
}
.bottom-review-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.plus-div {
  position: relative;
}
.add-img-div {
  position: absolute;
}

/* PLUS OVERLAY */

.container {
  position: relative;
  box-sizing: border-box;
}

.overlay-div {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 26%;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 35%;
}
.overlay-div-check-mark {
   position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2em;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.plus-button {
  width: 150px;
}
.shop-image-div {
  max-width: 500px;
  width: 100%;
}

.plus-big {
  width: 75%;
}

.image-list-add {
  padding-bottom: calc(100% - 2px);
  background-size: cover;
  background-position: center;
  border-radius: 2em;
}

textarea {
  width: 500px;
  height: 100px;
  padding: 10px;
  border-radius: 22px;
  font-family: "Lato", sans-serif;
}
.current-location {
  color: #f14b03;
  font-size: 30px;
  display: inline;
  margin-right: 10px;
}
.chosen-place {
  color:#4fc0e8;
  font-size: 30px;

}
form {
  display: grid;
  max-width: 500px;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

li > a {
  display: block;
  cursor: pointer;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
}

li > a:hover {
  background-color: #f9c39c;
}
ul {
  padding: 0;
}
.place-name {
  font-size: 50px;
}
.review-background {
  padding: 10px;
}
.review-background:hover {
  background-color: #f9c39c;
}

.add {
  align-self: flex-start;
}
.sign-up-form-container {
  row-gap: 100px;
}
.five-stars-div {
  margin-bottom: 10px;
}
.star-div {
  margin-bottom: 10px;
}
.custom-icon {
  font-size: 50px;
  cursor: pointer;
}
.blue-star {
  color: #4fc0e8;
}

.grey-star {
  color: #CFCFCF;
}
.non-edit-star {
  font-size: 40px;
}

@media (max-width: 640px) {
  .main-container {
    padding: 20px;
  }
  .gallery {
    margin-top: 20px;
  }
  .add {
    align-self: center;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
  textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .logo {
    width: 200px;
  }
  li > a {
    padding: 5px 0 5px 0;
    box-sizing: border-box;
  }
  .gallery {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap
  }
}
