/* TODO: Add sitewide styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: #f8f8f8;
}
.main-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
