/* TODO: Add sitewide styles */
body {
  font-family: "Lato", sans-serif;
  background-color: #f8f8f8;
}
.main-container {
  max-width: 1200px;
  padding: 40px;
}

button {
  all: unset;
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color: #f9c39c;
  padding: 16px;
  border-radius: 22px;
  border: none;
  color: #f14b03;
  box-shadow: none;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  color: #f9c39c;
  background-color: #f14b03;
}
.small-button {
  font-size: 12px;
  padding: 12px;
}

input {
  font-size: 16px;
  border-radius: 22px;
  padding: 8px;
}

h1 {
  padding: 0;
}
/* CSS FOR THE SPOT GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  grid-auto-rows: 1fr;
  margin-top: 80px;
}

@media (max-width: 640px) {
  .main-containter {
    padding: 20px;
  }
  .gallery {
    margin-top: 20px;
  }
  .add {
    align-self: center;
  }
}
