<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ list_data.title }}</title>
    <meta property="og:title" content="{{ list_data.title }}" />
    <meta property="og:description" content="{{ list_data.description }}" />
    <meta property="og:image" content="{{ list_data.image }}" />
    <meta property="og:url" content="{{ list_data.url }}" />
  </head>
  <body>
    <div id="root"></div>
    <script src="/static/js/main.js"></script>
  </body>
</html>
